* {
    padding: 0;
    margin: 0;
}

body {
    background: #008b8b;
    
    /*display: table;*/
}
.settings {
    text-align: center;
    display: none;
    margin: auto;
}
.settings td {
    height: 30px;
    width: 100%;
    background: none;
    text-align: left;
}
strong {
    margin-right: 35px;
}

table {
    margin: auto;
}
td {
    width: 48px;
    height: 50px;
    
    text-align: center;
    
    background: #ece1e1;
}
label {
    display: block;
    
    font-family: monospace;
}
.none {
    display: none;
}
.play {
    height: 30px;
    width: 50px;
    
    display: block;
    margin: 10px auto;
    outline: none;
}
.undo, .redo {
    height: 30px;
    width: 50px;
}
.initial {
    display: block;
}
.grey::after, .red::after, .yellow::after, .purple::after,
.cyan::after, .blue::after, .green::after {
    height: 30px;
    width: 30px;
    
    content: '';
    
    display: inline-block;
    border-radius: 50%;
}
.grey::after{
    background: #575e66;
}
.red::after {
    background: #aa0114;
}
.yellow::after {
    background: #e3dc00;
}
.purple::after {
    background: #955bbb;
}
.cyan::after {
    background: #008b8b;
}
.blue::after {
    background: #008ebe;
}
.green::after {
    background: #1fac4c;
}
.selected {
    opacity: .5;
}
.new_game {
    /*display: table;*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-family: sans-serif;
    border: none;
    outline: none;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 42%;
    transform: translate(50%);
    transition: .5s;
    color: #6B706B;
    /*padding: 5px;*/
}
.new_game:hover {
    cursor: pointer;
    box-shadow: 5px 5px 1px #888;
}
